body {
  margin: 0;
}
canvas {
  vertical-align: bottom;
}

.dot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0.5em;
}

.title {
  z-index: -1;
  position:absolute;
  top: 1em;
  transition: linear 3s;;
}

ul {
  display: inline-block;
  position: fixed;
  right: 1em;
  list-style: none;
  top: 5em;
}

.red {
 background: rgb(255,0,84);
 background: linear-gradient(60deg, rgba(255,0,84,1) 0%, rgba(83,0,255,1) 100%);
}

.blue {
 background: rgb(61,0,255);
 background: linear-gradient(60deg, rgba(61,0,255,1) 0%, rgba(0,255,104,1) 100%);
}

.green {
 background: rgb(16,255,0);
 background: linear-gradient(60deg, rgba(16,255,0,1) 0%, rgba(255,0,123,1) 100%);
}

.yellow {
  background: rgb(255,83,0);
  background: linear-gradient(60deg, rgba(255,83,0,1) 0%, rgba(255,229,0,1) 100%);
}
